<div class="container text-center padding-top-40 padding-bottom-40">
  <div class="row">
    <div class="col-sm-11 featured-technologies">
      <span class="circle-outline circle-outline-center"
        ><i data-feather="share-2" stroke-width="1"></i
      ></span>
      <h2 class="header-underline header-underline-center margin-bottom-25">
        Technologies
      </h2>
      <p>
        Automated Driving (AD) is clustered into three equally important
        technology areas:
      </p>
      <ul style="list-style-position: inside">
        <li>In-vehicle technology</li>
        <li>Cloud technology (backend)</li>
        <li>Design, development, test and validation tools (tool chain)</li>
      </ul>
      <p>
        OpenADx is currently focused on the AD tool chain. The goal is to
        accelerate AD development through open collaboration and open source.
      </p>
      <p>
        OpenADx’ vision is to ensure transparency and make the complex AD tool
        landscape more easily accessible for enterprise users.
      </p>
      <p><a class="btn btn-primary" href="technologies">Learn More</a></p>
    </div>
    <div class="col-sm-11 col-sm-offset-2 featured-resources">
      <span class="circle-outline circle-outline-center"
        ><i data-feather="file-text" stroke-width="1"></i
      ></span>
      <h2 class="header-underline header-underline-center margin-bottom-25">
        Resources
      </h2>
      <p>
        Explore our information material about OpenADx and Autonomous Driving.
      </p>
      <p><a class="btn btn-primary" href="resources">Learn More</a></p>
    </div>
  </div>
</div>
