{{ define "main" }}
   <!-- Announcements -->
   <div class="container">
	  <div id="news" class="row margin-bottom-50">
      <div class="col-sm-12 news-list">
	      <h2 class="header-underline margin-bottom-30">News</h2>
          <div id="news-list-container" class="news-list" data-news-count="3" data-publish-target="openadx">
          </div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://newsroom.eclipse.org/rss/news/openadx/news.xml" title="Subscribe to our RSS-feed"><i class="fa fa-rss margin-right-5"></i></a> <a href="/news">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/news">Submit News</a></li>
          </ul>
	    </div>
	    <div class="col-sm-8 col-sm-offset-1 news-list">
	      <h2 class="header-underline margin-bottom-30">Events</h2>
          <div id="event-list-container" class="news-items" data-template-id="event-short-list" data-count="4" data-publish-target="openadx">
          </div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://events.eclipse.org">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/events">Submit Event</a></li>
          </ul>
      </div>
	  </div>
  </div>
  {{ .Content }}

  <div id="vision" class="featured-section featured-vision padding-top-60 padding-bottom-60 row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-push-10 col-sm-push-12">
          <div class="featured-circle featured-circle-right">
            <img src="images/openadx-logo.svg" class="img-responsive" alt="OpenADX logo" />
          </div>
        </div>
        <div class="col-sm-12 col-md-pull-10 col-sm-pull-12">
          <h2 class="header-underline margin-top-0">Twitter</h2>

          <a class="twitter-timeline" data-width="220" data-height="300" data-theme="light" href="https://twitter.com/OpenADx?ref_src=twsrc%5Etfw">Tweets by OpenADx</a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        
          <p><a class="btn btn-primary" href="https://twitter.com/OpenADx?ref_src=twsrc%5Etfw">Follow @OpenADx</a></p>
        </div>
      </div>
    </div>
  </div>



  <div id="vision" class="featured-section featured-vision padding-top-60 padding-bottom-60 row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-push-10 col-sm-push-12">
          <div class="featured-circle featured-circle-right">
            <img src="images/openadx-logo.svg" class="img-responsive" alt="OpenADX logo" />
          </div>
        </div>
        <div class="col-sm-12 col-md-pull-10 col-sm-pull-12">
          <h2 class="header-underline margin-top-0">Vision</h2>
          <p>Autonomous driving (AD) is an extremely complex challenge with a complex development process, which is slowed at every turn by incompatibility between widely used development tools. The tools we already use in and of themselves are very good, but they do not work seamlessly with one another simply because they were never designed to work with each other. This is an industry-wide issue. It slows us all down in the race to automated driving. It costs money and precious resources to reduce the problem to a manageable level. And the thing about it is that the tool chain itself is not something we can monetize.</p>
          <p><a class="btn btn-primary" href="vision">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container text-center padding-top-40 padding-bottom-40">
    <div class="row">
      <div class="col-sm-11 featured-technologies">
       <span class="circle-outline circle-outline-center"><i data-feather="share-2" stroke-width="1"></i></span>
       <h2 class="header-underline header-underline-center margin-bottom-25">Technologies</h2>
       <p>Automated Driving (AD) is clustered into three equally important technology areas:</p>
       <ul style="list-style-position: inside;">
       <li>In-vehicle technology</li>
       <li>Cloud technology (backend)</li>
       <li>Design, development, test and validation tools (tool chain)</li>
       </ul>
       <p>OpenADx is currently focused on the AD tool chain. The goal is to accelerate AD development through open collaboration and open source.</p>
       <p>OpenADx’ vision is to ensure transparency and make the complex AD tool landscape more easily accessible for enterprise users.</p>
       <p><a class="btn btn-primary" href="technologies">Learn More</a></p>
      </div>
      <div class="col-sm-11 col-sm-offset-2 featured-resources">
       <span class="circle-outline circle-outline-center"><i data-feather="file-text" stroke-width="1"></i></span>
       <h2 class="header-underline header-underline-center margin-bottom-25">Resources</h2>
       <p>Explore our information material about OpenADx and Autonomous Driving.</p>
       <p><a class="btn btn-primary" href="resources">Learn More</a></p>
      </div>
    </div>
  </div>
  
  <div id="working-group" class="featured-section featured-working-group padding-top-60 padding-bottom-60 row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-3">
          <div class="featured-circle featured-circle-vision featured-circle-left">
            <i data-feather="users" stroke-width="1"></i>
          </div>
        </div>
        <div class="col-sm-12 col-md-10">
          <h2 class="header-underline margin-top-0">Working Group</h2>
          <p>The OpenADx working group will coordinate the development of Eclipse Foundation projects on the following topics:</p>
          <ul>
            <li>Implementation of interfaces between the development steps</li>
            <li>Implementation of common standards from other working groups (e.g. VDA Leitinitiative)</li>
            <li>Definition of an initial setup for fast implementation</li>
            <li>Ensures interoperability between development stages</li>
          </ul>
          <p>Find out how to join, how to participate and contribute</p>
          <p><a class="btn btn-primary" href="working-group">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
{{ end }}
