<div class="row">
  <div class="col-sm-8 shortcodes-technologies text-center match-height-item margin-bottom-30">
    <h3 class="h4 header-underline">Eclipse Cloe</h3>
    <p>Eclipse Cloe provides simulation middleware and simulation-engine bindings for connecting simulation engines to the "software under test".</p>
    <p><a class="btn btn-secondary" href="https://projects.eclipse.org/projects/technology.cloe">View Project</a></p>
  </div>
  <div class="col-sm-8 shortcodes-technologies text-center match-height-item margin-bottom-30">
    <h3 class="h4 header-underline">Eclipse Cyclone DDS</h3>
    <p>Eclipse Cyclone DDS is a  performant and robust open-source DDS. Cyclone DDS is a project of OpenADx and Eclipse IoT. Eclipse iceoryx is built into Eclipse Cyclone DDS.</p>
    <p><a class="btn btn-secondary" href="https://projects.eclipse.org/projects/iot.cyclonedds">View Project</a></p>
  </div>
  <div class="col-sm-8 shortcodes-technologies text-center match-height-item margin-bottom-30">
    <h3 class="h4 header-underline">Eclipse iceoryx</h3>
    <p>Eclipse iceoryx is a middleware with a zero-copy shared memory approach which is optimized for the huge data inter-process-communication.</p>
    <p><a class="btn btn-secondary" href="https://projects.eclipse.org/projects/technology.iceoryx">View Project</a></p>
  </div>
 <div class="col-sm-8 shortcodes-technologies text-center match-height-item margin-bottom-30">
    <h3 class="h4 header-underline">Eclipse zenoh</h3>
    <p>Eclipse Zenoh provides V2V, V2X, cloud connect for Autoware.auto, ROS 2 and DDS including Eclipse Cyclone DDS.</p>
    <p><a class="btn btn-secondary" href="http://zenoh.io">View Project</a></p>
  </div>
  <div class="col-sm-8 shortcodes-technologies text-center match-height-item margin-bottom-30">
    <h3 class="h4 header-underline">Eclipse OpenMCx</h3>
    <p>Eclipse OpenMCx provides a co-simulation middleware to run simulations combining physical, control and environment models.</p>
    <p><a class="btn btn-secondary" href="https://projects.eclipse.org/proposals/eclipse-openmcx">View Project</a></p>
  </div>
</div>