<div class="row">
    <div class="col-sm-12 shortcodes-technologies  match-height-item">
        <h3 class="h4">OpenADx Manifesto</h3>
        <p class="margin-bottom-20"><img width="200" src="/images/Thumbnail_whitepaper.png"/></p>
        <p class="margin-bottom-0"><a class="btn btn-primary" href="https://openadx.eclipse.org/resources/OpenADx-Manifesto-v07-2020.pdf">Download</a></p>
    </div>
    <div class="col-sm-12 shortcodes-technologies  match-height-item">
        <h3 class="h4">451 Research</h3>
        <p class="margin-bottom-20"><img width="300" src="/images/EF_451Research.jpg"/></p>
        <p class="margin-bottom-0"><a class="btn btn-primary" href="https://t.co/uuFInHsWpP?amp=1">Download</a></p>
    </div>
  </div>