<div class="row">
    <div class="col-sm-4">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/BHGahCzT4Fw"></a>
        <p>YouTube: OpenADx - Leveraging open collaboration &amp; OS to accelerate Autonomous Driving dev</p>
    </div>
    <div class="col-sm-4">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/UyxdE-olbHE"></a>
        <p>YouTube: OpenADx “Autonomous Driving Simulation” Testbed – hardware in the loop (sponsored by Renesas)</p>
    </div>
    <div class="col-sm-4"></div>
        <iframe height="312.1875px" src="https://www.youtube.com/embed/GBF1vtbP4O0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>YouTube: OpenADx - ScaleUp 360° Automotive AI: Autonomous Driving and Open Source: Does it fit?</p>
    </div>
</div>